<div class="footerContainer">
  <div class="topBtn" (click)="goToTop()">
    <img src="../../assets/img/up-arrow.svg" class="topIcon">
  </div>


  <div class="copyrightBlock">
    Copyright {{year}} &copy; Alex Xiao. All Right Reserved.
  </div>

  <div class="socialIcon">

    <ul class="iconList">
      <li (click)="goToLink('linkedin')" title="linkedin">
        <img src="../../assets/img/linkedin.svg">
      </li>

      <li (click)="goToLink('github')" title="github">
        <img src="../../assets/img/github.svg">
      </li>

      <li (click)="goToLink('resume')" title="resume">
        <img src="../../assets/img/file.svg">
      </li>
    </ul>

  </div>
</div>
