.ax-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ced4da;
  font-size: 15px;
  box-sizing: border-box;

  &:disabled {
    border-color: grey;
    background-color: #cecece;
    cursor: not-allowed;
  }

  &.input-danger {
    border-color: #d9534f;
  }
}
