<div class="experience-container">
  <div class="experience-content">
    <div class="section-title">
      Education
    </div>

    <div class="experience-section">
      <div class="element-section" style="border-bottom: 1px solid whitesmoke; padding-bottom: 20px">
        <img src="../../assets/img/company/sjsu.png" class="img-container">

        <div class="info-container">
          <div>
            <h3>San Jose State University</h3>
            <h4>B.S in Computer Science</h4>
            Sep 2015 - Dec 2017, GAP: 3.6 / 4.0
          </div>
        </div>
      </div>

      <div class="element-section" style="padding-top: 20px">
        <img src="../../assets/img/company/ohlone.png" class="img-container">

        <div class="info-container">
          <div>
            <h3>Ohlone College</h3>
            <h4>A.S in Computer Science</h4>
            Jan 2013 - May 2015, GAP: 3.7 / 4.0
          </div>
        </div>
      </div>
    </div>

    <div class="section-title">
      Experience
    </div>

    <div class="experience-section">


      <div class="element-section" style="border-bottom: 1px solid whitesmoke; padding-bottom: 20px">
        <img src="../../assets/img/company/elliemae.png" class="img-container">

        <div class="info-container">
          <div>
            <h3>Ellie Mae</h3>
            <h4>Software Engineer</h4>
            July 2018 – present &middot; Pleasanton, CA
            <ul>
              <li>Responsible for building and maintaining JavaScript library (Security Scripting Framework)</li>
              <li>Responsible for building web-based tools with knowledge of ReactJS and Angular</li>
              <li>Involved in sprint planning and grooming, as well as frontend architecture design</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="element-section" style="border-bottom: 1px solid whitesmoke; padding: 20px 0">
        <img src="../../assets/img/company/pixured.jpg" class="img-container">

        <div class="info-container">
          <div>
            <h3>Pixured</h3>
            <h4>Software Developer</h4>
            Jan 2018 - June 2018 &middot; Fremont, CA
            <ul>
              <li>Responsible for building web-based tools with knowledge of Angular 4 and Vue, and applications to
                improve products and do more for customers and clients
              </li>
              <li>Responsible for sharing the direction of products and services by considering the architecture,
                performance testing, design, and implementation
              </li>
              <li>Responsible for building mobile-based app on IOS with knowledge of Objective C and Swift</li>
              <li>Responsible for building and maintaining chat system on web-based tools and mobile-based app on IOS
                with knowledge of XMPP service
              </li>
              <li>Develop new UI functionality to fix infinite scroller issue and improve data loading speed</li>
              <li>Design and develop image modification on web application including filter, crop, rotation, drawing
              </li>
              <li>Design and develop NoSQL database on IOS using Couchbase and improve data fetching/loading speed by
                10%
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="element-section" style="border-bottom: 1px solid whitesmoke; padding: 20px 0">
        <img src="../../assets/img/company/guid.png" class="img-container">

        <div class="info-container">
          <div>
            <h3>Guidance Education Technologies</h3>
            <h4>Summer Internship</h4>
            May 2015 - July 2015 &middot; Concord, CA
            <ul>
              <li>Explored the knowledge and practiced web based programming, including JavaScript, HTML5, and CSS</li>
              <li>Designed a smartphone app by using web based programming</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="element-section" style="padding-top: 20px">
        <img src="../../assets/img/company/ohlone.png" class="img-container">

        <div class="info-container">
          <div>
            <h3>Computer Lab Assistant</h3>
            <h4>Ohlone College</h4>
            Aug 2013 - May 2015 &middot; Fremont, CA
            <ul>
              <li>Helped students with debugging and understanding projects during computer classes</li>
              <li>Answered questions and helped students with project assignments after class</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
