.experience-container {
  width: 100%;
  height: auto;
  background-color: #4C5364;
  color: white;
  position: relative;
  padding: 15px 0;
}

.experience-content {
  width: 750px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.experience-section {
  width: 90%;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 25px 25px 18px 25px;
  border: 2px solid rgb(100, 255, 218);
  border-radius: 10px;
}

.element-section {
  width: 100%;
  height: auto;
  display: flex;
}

.img-container {
  width: 72px;
  height: 72px;
  display: inline-flex;
}

.info-container {
  display: inline-flex;
  width: calc(100% - 72px);
  box-sizing: border-box;
  padding-left: 15px;

  ul {
    padding-left:  20px;
    margin-bottom: 0;

    li {
      margin-bottom: 5px;
    }
  }

  h3, h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .experience-content {
    width: 90%;
  }
}
