.notFoundContainer {
  width: 100%;
  height: auto;
}

.notFoundContent {
  height: auto;
  width: 50%;
  right: 0;
  left: 0;
  top: 50px;
  margin: auto;
  display: block;
  position: absolute;

  img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.backBtn {
  border-radius: 5px;
  color: whitesmoke;
  background-color: lightskyblue;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 170px;
  padding: 5px 10px;
  font-size: medium;
  position: absolute;
  right: 0;
  left: 0;
  margin: 20px auto;
}

@media only screen and (max-width: 768px) {
  .notFoundContent {
    width: 100%;
  }
}
