<div class="main-container">
  <app-header (scrollToComponent)="scrollToComponent($event)" #header></app-header>

  <div class="main-block" #home>
    <app-home></app-home>
  </div>

  <div class="main-block" #who>
    <app-who-we-are></app-who-we-are>
  </div>

  <div class="main-block" #memories>
    <app-memories></app-memories>
  </div>

  <div class="main-block" #structure>
    <app-structure></app-structure>
  </div>

  <div class="main-block" #gallery>
    <app-gallery></app-gallery>
  </div>

  <div style="width: 100%">
    <app-footer></app-footer>
  </div>
</div>




