<div class="main-container">
  <app-header (scrollToComponent)="scrollToComponent($event)" #header></app-header>

  <div class="main-block" #home>
    <app-home></app-home>
  </div>

  <div class="main-block" #who>
    <app-who-i-am></app-who-i-am>
  </div>

  <div #project>
    <app-project></app-project>
  </div>

  <div  #experience>
    <app-experience></app-experience>
  </div>

  <div class="main-block" #gallery>
    <app-gallery></app-gallery>
  </div>

  <div style="width: 100%">
    <app-footer (topScroll)="topBtn($event)"></app-footer>
  </div>
</div>




