<div class="chat-container">

  <div class="chat-header">
    <img src="../../../assets/img/chat.svg">

    <span>
      Chatting with Alex bot
    </span>

  </div>

  <div class="chat-body">

    <div class="chat-content" #chatContent>

      <ng-container *ngFor="let msg of getAllMsg()">

        <div class="chat-msg-block" [ngStyle]="{'marginLeft': msg.fromUser? '30%' : '0'}">

          <div class="profile-container" *ngIf="!msg.fromUser">
            <img src="../../../assets/img/useravatar.svg">
          </div>
          <div class="chat-msg" [ngClass]="{'msg-user': msg.fromUser, 'msg-bot': !msg.fromUser}">
            {{msg.text}}
          </div>

        </div>

      </ng-container>

    </div>

    <div class="chat-input">

      <div class="input-section">
        <input class="ax-input" [(ngModel)]="msg" (keydown.enter)="sendMsg()">
      </div>

      <button class="btn btn-primary" style="float: right" (click)="sendMsg()"
              [disabled]="msg.trim().length === 0">
        Send
      </button>

    </div>

  </div>

</div>
