<div class="memories-container">
  memories

  <button class="btn btn-danger">danger Button</button>
  <button class="btn btn-primary">primary Button</button>
  <button class="btn btn-info">Info Button</button>

  <button class="btn btn-danger" disabled>danger Button</button>
  <button class="btn btn-primary" disabled>primary Button</button>
  <button class="btn btn-info" disabled>Info Button</button>

  <div style="width: 300px">
    <button class="btn btn-info btn-block">Info Button</button>
  </div>
</div>
