.project-container {
  width: 100%;
  height: auto;
  background-color: #ddd;
  position: relative;
}

.project-content {
  width: 750px;
  //height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  .project-content {
    width: 90%;
  }
}
