/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "assets/scss/_button.scss";
@import "assets/scss/_input.scss";

body {
  background-color: #fcfcfc;
  font-family: 'Montserrat', sans-serif;
  //font-size: 400px;
  overflow-y: auto;
  margin: 0;
}

.main-block {
  height: 100vh;
  width: 100%;
}
